
body {
  background: #faf3ec;
  color: #5bc0de;
  font-family: "Poppins", sans-serif;
}
/* hiding default scroll bar  */
body::-webkit-scrollbar{
  display: none;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #5bc0de;
}

/* hero */

#hero {
	position: relative;
	width: 100%;
	height: 800px;
	background: url('https://source.unsplash.com/1800x800/?coffee');
    background-size: cover;
}

.hero-info {
	position: absolute;
	top: 80%;
	left: 10%;
	margin-top: -80px;
	margin-left: -96.5px;
	text-align: center;
	color: #fff;
}


.hero-info h1 {
    font-size: 4em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.hero-info a {
    color:  #fff;
    text-decoration: none;
    font-weight: 400;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: rgba(0,0,0,0.25);
    cursor: pointer;
}

.hero-info a:hover {
	border-width: 1px;
	opacity: .7;
}

/*Jumbotron*/
#Map-Section {
  background-color: transparent;
  margin: 0;
  padding: 10px;
}
form {
  margin: 50px 40px;
}

.inputDiv {
  max-width: 700px;
}

.info {
  color: #85745c;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/*map*/
#googleMap {
  width: 100%;
  height: 700px;
  /* margin: 10px auto; */
}
label{
  color: #85745c;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.06em;
  
}
.row{
  justify-content: center;
  align-items: center;
}
.inputDiv{
  height: 50px;
  width: 100%;

}
.inputDiv input,
.inputDiv textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #fff;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
 .message-box{
  min-height: 110px;
}
 .inputDiv textarea{
  padding-top: 6px;
}
.tem-form{
  float:left;
  padding-left: 50%;
  vertical-align: middle;
}

.button{
  display: inline-block;
  margin-top: 12px;
}
#btn{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #85745c;
  cursor: pointer;
  transition: all 0.3s ease;
}
#btn:hover{
  background: #85745c;
}